{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To do list</title>
        <link rel="stylesheet" href="{% static './styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/7631da84b9.js" crossorigin="anonymous"></script>   
    </head>
    <body>
        <div class="modal-container">
            <div class="modal-wrapper">
                <div class = "modal-window">
                    <h2>Create a new Task</h2>
                    <form action="" id="new-task-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name = "edit_id" id = "edit_id">
                        <div class="title_content">
                            <input type="text" name="title_input" id="title_input" placeholder="Title">
                        </div>
                        <div class="description_content">
                            <textarea name="description_input" id="description_input" placeholder="Description"></textarea>
                        </div>
                        <div class="activity-container">
                            <label for="new-task-form">Activity:</label>
                            <div class="activity-selection">
                                <select name="activity_type" id="activity_type">
                                    <option value="0">Health</option>
                                    <option value="1">Training</option>
                                    <option value="2">Study</option>
                                    <option value="3">Cleaning</option>
                                </select>
                            </div>
                        </div>
                        <div class="date-container">
                            <label form="new-task-form">Date to be completed:</label>
                            <input type="date" name="date_input" id="date_input">
                        </div>
                        <div class = "completed-container">
                            <label form="search-form">Already Done</label>
                            <input type="checkbox" name="is_done" id="is_done">
                        </div>
                        <button id = "save-task" type="button" onclick="SubmitForm()">Save</button>
                        <div id="buttons-container">
                            <button name = "edit-task-btn" id = "edit-task-btn" type="button" onclick="SubmitForm()">Edit</button>
                            <button name = "remove-task-btn" id = "remove-task-btn" onclick="CloseModal()"type="button">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="wrapper-container">
            <div class="main-container">
                <h1>To-do List</h1>
                <div class="search-container">
                    <form action="" class="search-form">
                        <div class="search-bar">
                            <input type="text" name="specified_task" id="specified_task" placeholder="Search a task">
                            <button onclick = "OpenWithInput()" id = "add-task" type = "button"><i class="fas fa-plus-square"></i></button>                    
                        </div>
                        <button type = "submit" id="search-task-btn">Search</button>
                    </form>
                <h3 id = "not_found_error"> There isn't a task with that title</h3>
                </div>
                <input type="hidden" id = "selected_id" value="">
                <ul>
                    {% for task in all_tasks%}
                    <li class="uploaded-task" id = "task-{{task.id}}">
                        <div class="task-wrapper">
                            <p class="task-title">{{task.title}}</p>
                            <div class="activity-{{task.activity}}"></div>
                                <button class="config-btn" id = "config-{{task.id}}" value = "{{task.id}}"><i class="fa fa-folder"></i></button> 
                                <button class="del-btn" id = "del-{{task.id}}" value = "{{task.id}}"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static './interaction.js' %}"></script>

</body>
</html>